In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('encadrement_loyers_paris.csv')

In [4]:
df.head(2)

,idZone,nameZone,idQuartier,piece,epoque,type,annee,ref,refmin,refmaj
0,1,Notre-Dame-des-Champs,23,1 pièce,avant 1946,Non meublée,2015,31.3,21.9,37.6
1,1,Saint-Thomas-d'Aquin,25,1 pièce,avant 1946,Non meublée,2015,31.3,21.9,37.6

In [5]:
df.describe()

,idZone,idQuartier,annee,ref,refmin,refmaj
count,5120.000000,5120.000000,5120.000000,5120.000000,5120.000000,5120.000000
mean,6.662500,40.500000,2015.500000,24.704434,17.294414,29.647031
std,4.225172,23.094462,0.500049,3.770624,2.636844,4.524386
min,1.000000,1.000000,2015.000000,15.200000,10.600000,18.200000
25%,3.000000,20.750000,2015.000000,22.000000,15.400000,26.400000
50%,5.000000,40.500000,2015.500000,24.300000,17.000000,29.200000
75%,11.000000,60.250000,2016.000000,27.100000,19.000000,32.500000
max,14.000000,80.000000,2016.000000,37.900000,26.500000,45.500000

In [7]:
df.piece.value_counts()

1 pièce             1280
4 pièces et plus    1280
3 pièces            1280
2 pièces            1280
Name: piece, dtype: int64

In [8]:
df.epoque.value_counts()

1971-1990     1280
1946-1970     1280
avant 1946    1280
après 1990    1280
Name: epoque, dtype: int64

In [10]:
dg = pd.read_csv('QUARTIER.csv')

In [12]:
data=pd.merge(df,dg, left_on='idQuartier', right_on='C_QU')

In [17]:
data.head()

,idZone,nameZone,idQuartier,piece,epoque,type,annee,ref,refmin,refmaj,﻿OBJECTID,N_SQ_QU,C_QU,C_QUINSEE,L_QU,C_AR,N_SQ_AR,SHAPE_Length,SHAPE_Area
0,1,Notre-Dame-des-Champs,23,1 pièce,avant 1946,Non meublée,2015,31.3,21.9,37.6,23,750000023,23,7510603,Notre-Dame-des-Champs,6,750000006,4559.726831,861307.080279
1,1,Notre-Dame-des-Champs,23,1 pièce,avant 1946,Non meublée,2016,31.6,22.1,37.9,23,750000023,23,7510603,Notre-Dame-des-Champs,6,750000006,4559.726831,861307.080279
2,1,Notre-Dame-des-Champs,23,1 pièce,avant 1946,Meublée,2015,34.7,24.3,41.6,23,750000023,23,7510603,Notre-Dame-des-Champs,6,750000006,4559.726831,861307.080279
3,1,Notre-Dame-des-Champs,23,1 pièce,avant 1946,Meublée,2016,35.4,24.8,42.5,23,750000023,23,7510603,Notre-Dame-des-Champs,6,750000006,4559.726831,861307.080279
4,1,Notre-Dame-des-Champs,23,1 pièce,1946-1970,Non meublée,2015,29.3,20.5,35.2,23,750000023,23,7510603,Notre-Dame-des-Champs,6,750000006,4559.726831,861307.080279

In [19]:
data.head(3)

,idZone,nameZone,idQuartier,piece,epoque,type,annee,ref,refmin,refmaj,﻿OBJECTID,N_SQ_QU,C_QU,C_QUINSEE,L_QU,C_AR,N_SQ_AR,SHAPE_Length,SHAPE_Area
0,1,Notre-Dame-des-Champs,23,1 pièce,avant 1946,Non meublée,2015,31.3,21.9,37.6,23,750000023,23,7510603,Notre-Dame-des-Champs,6,750000006,4559.726831,861307.080279
1,1,Notre-Dame-des-Champs,23,1 pièce,avant 1946,Non meublée,2016,31.6,22.1,37.9,23,750000023,23,7510603,Notre-Dame-des-Champs,6,750000006,4559.726831,861307.080279
2,1,Notre-Dame-des-Champs,23,1 pièce,avant 1946,Meublée,2015,34.7,24.3,41.6,23,750000023,23,7510603,Notre-Dame-des-Champs,6,750000006,4559.726831,861307.080279

In [30]:
(str(data['N_SQ_AR'][0])[-2:])

'06'

In [31]:
def arrondissement(x):
    return str(x)[-2:]

In [32]:
data['arrondissement'] = data['N_SQ_AR'].apply(lambda x: arrondissement(x))

In [38]:
data[data.arrondissement == '10'].refmaj.describe()

count    256.000000
mean      28.396094
std        3.579843
min       20.900000
25%       25.900000
50%       28.000000
75%       30.425000
max       39.000000
Name: refmaj, dtype: float64

In [44]:
loyer_arrondissement = []
for i in data.arrondissement.unique().tolist():
    loyer_max = data[data.arrondissement == i].refmaj.max()
    loyer_arrondissement.append([i, loyer_max])

In [45]:
loyer_arrondissement

[['06', 45.5],
 ['07', 45.5],
 ['01', 42.399999999999999],
 ['02', 42.399999999999999],
 ['04', 42.399999999999999],
 ['08', 42.399999999999999],
 ['09', 42.399999999999999],
 ['16', 40.200000000000003],
 ['03', 40.0],
 ['05', 40.0],
 ['10', 39.0],
 ['13', 39.5],
 ['14', 39.5],
 ['15', 37.399999999999999],
 ['17', 38.799999999999997],
 ['12', 38.799999999999997],
 ['18', 38.799999999999997],
 ['11', 38.799999999999997],
 ['20', 38.799999999999997],
 ['19', 38.0]]

In [48]:
dataset = pd.read_csv('dataset.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 14: invalid continuation byte